<link rel="stylesheet" href="/css/news.css">
<style>.card-content{padding-bottom: 1rem;}</style>

{{#if videoUrl}}
<div class="my-1">
    {{> videoSection
    videoUrl=videoUrl
    videoTitle=videoTitle
    description=videoDescription
    videoLink="/videos"
    }}
</div>
{{/if}}

{{#if news}}
<div class="bg-gray">
    <h2>Últimas <a class="underline" href="/noticias">noticias</a></h2>
    <div class="grid-container">
        {{#each news}}
        <div class="card">
            <a href="/noticias/{{this.slug}}" class="card-content w-100">
                <h2 class="card-title">{{this.title}}</h2>
                <h3 class="card-subtitle">{{this.subtitle}}</h3>
                <p class="card-author">Por: <strong>{{this.author}}</strong></p>
                <small class="card-date">Publicado: {{formattedDate}}</small>
            </a>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}
